@using WebGrease.Css.Extensions

<link href="@Url.Content("~/css/History/animate.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/main.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/owl.carousel.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/owl.theme.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/owl.transitions.css")" rel="stylesheet">
<link href="@Url.Content("~/css/History/reset.css")" rel="stylesheet">

@{
    ViewBag.Title = "History";
}

@*<h2> Phoenix Inspire History</h2>*@

<!--  Hero Section  -->
<section class="hero" id="hero">
    <div class="container">
        <div class="caption">
            <h1 class="text-uppercase  animated wow fadeInLeft">Phoenix Inspire History</h1>
            <p class="text-lowercase  animated wow fadeInLeft">Why would a couple leave England and set up a charity called Phoenix Inspire in Vidin, Bulgaria? Please take the time to read the following paragraphs to understand why and as you do so you might think ‘how could I get involved?</p>

            @*<a href="http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme" class="app_store_btn text-uppercase animated wow fadeInLeft">
                <i class="iphone_icon"></i>
                <span>Iphone App</span>
            </a>

            <a href="http://pixelhint.com/capture-free-responsive-bootstrap-app-landing-page-theme" class="app_store_btn text-uppercase animated wow fadeInLeft">
                <i class="android_icon"></i>
                <span>Android App</span>
            </a>*@
        </div>
    </div>
</section>
<!--  End Hero Section  -->
<!--  Featured On Section  -->
@*<section class="featured_on">
    <div class="container">
        <ul class="list-unstyled text-center clearfix">
            <li class="col-xs-6 col-sm-6 col-md-3 animated wow fadeInDown">
                <img src="img/google_logo.png" alt="" title="">
            </li>
            <li class="col-xs-6 col-sm-6 col-md-3 animated wow fadeInDown" data-wow-delay=".2s">
                <img src="img/facebook_logo.png" alt="" title="">
            </li>
            <li class="col-xs-6 col-sm-6 col-md-3 animated wow fadeInDown" data-wow-delay=".3s">
                <img src="img/yahoo_logo.png" alt="" title="">
            </li>
            <li class="col-xs-6 col-sm-6 col-md-3 animated wow fadeInDown" data-wow-delay=".4s">
                <img src="img/paypal_logo.png" alt="" title="">
            </li>
        </ul>
    </div>
</section>*@
<!--  End Featured On Section  -->

<!--  About Section  -->
<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center animated wow fadeInLeft">
                <div class="iphone">
                    <img src="~/Images/History/banitsa.jpg" alt="" titl="">
                </div>
            </div>
            <div class="col-md-6 animated wow fadeInRight">
                <div class="features_list">
                    <h1 class="text-uppercase">Background</h1>
                    <p>
                        Firstly, it is a fact that Bulgaria is the poorest country in Europe. Secondly, Vidin the capital of the north-west region of Bulgaria is by far the poorest region in Bulgaria.
                        At its peak Vidin had a population of over 62,000 people. A census in 2009 highlighted that the population had dropped to just under 50,000. Like many towns in Bulgaria, Vidin’s decline is characterised by migration, particularly the young, moving to more prosperous parts of Bulgaria and Europe. Despite the fact that roads are crumbling, pavements are dangerous to walk on, many buildings and factories are disused and too many families struggle to manage from day to day this region has the potential to raise itself from the ashes.
                        The mighty Danube flows alongside the town, the landscape including the nearby mountains can be beautiful to the eye, the wildlife is abundant and the people are so friendly.
                        Another huge plus for this region is the Vidin / Calafat (Romania) bridge which is due to open to traffic in 2013 creates new opportunities as will the proposed high speed rail network from Vidin to Sofia. The future can be bright, but only with the right vision and commitment.
                        Villages in the region have different issues to deal with. All villages in the region are declining, the young are moving to the big cities or out of the country altogether thereby leaving an aging population. Unemployment in all villages is high, particularly for those who are from the Roma community. As a result, the economy of these villages is miniscule with little investment from the government.
                        In the UK, education is free up to the age of 19 years. Further education colleges are well resourced and offer a wide variety of vocational programmes. Schools and colleges offer a wide range of qualifications which lead to either university or the world of work. To compare what is available in the UK against what is available here in Bulgaria is like comparing chalk and cheese. In Bulgaria there is a significant lack of opportunities during and after 16 years of age. There is not a day that goes by when I don’t reflect upon how lucky I am to have been born in a country where education and work opportunities existed and exist today. It is embarrassing and sad to think that here we are in 2012 and these same opportunities do not exist in a country which is a member of the European Union.
                        The Vidin region like all regions in Bulgaria has a number of children’s homes. It is very possible that youngsters can be in care from one day old to eighteen years of age and even older. At the time of writing, the children’s home in Novo Selo has 59 residents. For some of these children their ‘home’ has always been a care home of some sort. Unfortunately, for the vast majority of children who grow up in a home there is little future to look forward to after 18 years of age, apart from prostitution and begging. It doesn’t take any imagination to realise that standing on a highway or in a lay-by in the middle of winter trying to generate business or asking people for money with a tin is no fun. This bleak future is due to a number of factors: lack of money to pay for tuition and transport is certainly one, lack of aspiration and motivation to learn is another as is the lack of encouragement and facilities.
                        Working towards a better future
                    </p>
                    @*<ul class="list-unstyled">
                        <li class="camera_icon">
                            <span>Euismod ligula ipsum vulputate tellus.</span>
                        </li>
                        <li class="video_icon">
                            <span>Morbi non efficitur nibh sit amet est eros.</span>
                        </li>
                        <li class="eye_icon">
                            <span>Fusce faucibus ante liberonec luctus egestas.</span>
                        </li>
                        <li class="pic_icon">
                            <span>Quisque pretium malesuada ornare.</span>
                        </li>
                        <li class="loc_icon">
                            <span>Cras interdum vestibulum dolor.</span>
                        </li>
                    </ul>
                    <a href="#" class="app_store_btn text-uppercase" id="play_video" data-video="http://www.youtube.com/embed/Bm3NV3gGB2w?autoplay=1&showinfo=0">
                        <i class="play_icon"></i>
                        <span>About Video</span>
                    </a>
                    <a href="#hero" class="app_link">Get the app</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="about_video show_video">
        <a href="" class="close_video"></a>
    </div>
</section>
<!--  End About Section  -->
<!--  Testimonials Section  -->
<section class="testimonials animated wow fadeIn" id="testimonials" data-wow-duration="2s">
    <div class="container">
        <div class="testimonials_list">
            @*<ul class="list-unstyled text-center slides clearfix" id="tslider">*@
                <ul class="list-unstyled text-center slides clearfix">
                    <li>
                        <blockquote>
                            <p>
                                <h2>Working towards a better future</h2><br />
                                However, now there is hope for a better future. I would like to introduce you a worthy cause that may inspire you too; Phoenix Inspire. I am the founder of Phoenix Inspire, I was born in Scunthorpe but I now live in Novo Selo, Vidin, Bulgaria. After visiting the the region in January 2008 and hearing about the plight of the local children I decided to move here in July and set up Phoenix Inspire. Phoenix Inspire is a Non Government Organisation (NGO) registered in Bulgaria and is not for profit.
                                Phoenix Inspire aims to help two groups of people; firstly, those who are residents of the children’s home in Novo Selo, and secondly, youngsters from the poorest families. It is hard to believe that in the 21st C, in Europe, we have families who do not have access to basic needs such as running water in the home. Some of the poorest families in this region find themselves in such circumstances.
                                With the support of the Mayor of Novo Selo and the Director of the children’s home, we have been delivering cookery classes on a weekly basis to youngsters from the home. These have proved extremely successful and popular. As my background is that of a chef and educator it seems sensible to combine these two skills and teach these youngsters in the hope that one day, the youngsters might get a job in the hospitality industry. I have noticed that whilst teaching these youngsters how to prepare, cook and present a variety of different dishes in a professional manner their ambition and confidence has grown.
                                However, it is all well and good teaching a group for three hours each week but there needs to be something more, something which enables these youngsters to develop and fine tune their skills in a commercial and yet safe environment. The vision is a Bistro with suitable training facilities preparing and serving an international menu to paying guests who will ensure the longevity of the venture.
                                By developing a Bistro with the right facilities, at the end of the training programme, the youngster will have the necessary skills, motivation and opportunities to gain meaningful employment and hopefully better lives.
                                Once developed the Bistro will be able to train 10 young people with the necessary skills to acquire employment in the hospitality industry. The butchery area will enable the trainees to learn how to prepare a variety of meats for the kitchen. The bakery / pastry area will enable the trainees to learn how to prepare and bake breads as well as a variety of desserts and pastries for the dining room. The kitchen will develop a wide range of skills. A variety of service styles will be adopted in the restaurant. In order to develop a sustainable future, commodities will be purchased as locally as possible, converted into saleable products and sold to the general public.
                            </p>
                            @*<span class="author text-uppercase">John Doe</span>
                    <span class="job">IOS developer</span>*@

                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p>
                                <h2>Helping the local community</h2><br />
                                Since its creation Phoenix Inspire has received a great deal of help and support from many people. This help has enabled Phoenix Inspire to donate computers, books, writing equipment, paper, clothes, bedding, waterproof coats, boots, toys, games, white goods and cycles to the children’s home; games, toys, equipment and soft furnishings to the local kindergartens of Vruv and Novo Selo; toys, games and clothes to the children’s home of Vidin; computers and other educational equipment to the local school.
                                Phoenix Inspire has established a significant reputation for help and compassion. Christmas 2009 saw Phoenix Inspire distribute 69 Christmas presents to local disadvantaged children and clothing to many residents of Novo Selo. Christmas 2010 saw 120 presents being given to local children and again many local residents received clothing and bedding. Whilst this is not the aim of Phoenix Inspire, it would be fair to say that without this support the local people would be much worse off than they are now.
                                Since 2009 Phoenix Inspire has also received contributions and donations of catering equipment from colleges and businesses in the UK. This equipment will be used to help set up the Bistro once a suitable location has been found.
                                Funds raised from special events in Vidin and help from friends in Austria and France has enabled two groups of youngsters to visit England and France as part of their educational development.
                                The aims of Phoenix Inspire are not those of an idealist, they are the ambitions of a realist; a realist who each day sees deprivation and human talent going to waste. Phoenix Inspire’s aims are clear, to create opportunities, to inspire success. These are not empty words; they have a purpose and an end goal. Phoenix Inspire offers hope to many Bulgarians not only the young.
                                It is with great hope that I present this paper to you in the hope that you will help me help those less fortunate than you or I.
                                You can read more about the progress of Phoenix Inspire and see what difference it has made to date by visiting www.phoenix-inspirebg.org
                                I look forward to hearing from you.<br />
                                Yours faithfully
                                Mick Cooper

                                mick@phoenix-inspirebg.org
                            </p>
                            @*<span class="author text-uppercase">John Doe</span>
                    <span class="job">IOS developer</span>*@

                        </blockquote>
                    </li>


                </ul>
            @*<div id="slider_nav">
                <div id="prev_arrow"></div>
                <div id="next_arrow"></div>
            </div>*@
        </div>
    </div>
</section>
<!--  End Testimonials Section  -->

<script src="@Url.Content("~/js/History/ajaxchim.js")"></script>
<script src="@Url.Content("~/js/History/bootstrap.js")"></script>
<script src="@Url.Content("~/js/History/bootstrap.min.js")"></script>
<script src="@Url.Content("~/js/History/jquery.js")"></script>
<script src="@Url.Content("~/js/History/main.js")"></script>
<script src="@Url.Content("~/js/History/nicescroll.js")"></script>
<script src="@Url.Content("~/js/History/owl.carousel.min.js")"></script>
<script src="@Url.Content("~/js/History/parallax.js")"></script>
<script src="@Url.Content("~/js/History/scrollTo.js")"></script>
<script src="@Url.Content("~/js/History/wow.js")"></script>